# Ignore "pycache" directory
__pycache__/

# Ignore "ftp_upload_cache" directory
ftp_upload_cache/

# Ignore "credentials.json" and "token.pickle" files
credentials.json
token.pickle

# Ignore debugging log
log.txt