# Ignore "pycache" directory
__pycache__/

# Ignore "tmp" directory
tmp/

# Ignore "dltemp" directory
dltemp/

# Ignore "unlimited-drive.pyc" file
unlimited-drive.pyc

# Ignore "credentials.json" and "token.pickle" files
credentials.json
token.pickle

# Ignore debugging log
log.txt